/* FOOTER */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.footer{
    font-family:'Poppins',sans-serif;
    background:#041c40;
    color:#fff;
    padding:70px 0 20px;
}

.footer h3{
    color:#fff;
    margin-bottom:20px;
    font-size:25px;
}

.footer p{
    color:#cfd8e6;
    font-size:16px;
}

.footer ul{
    padding:0;
    list-style:none;
}

.footer ul li{
    margin-bottom:12px;
    font-size:16px;
}

.footer ul li a{
    color:#cfd8e6;
    transition:.3s;
}

.footer ul li a:hover{
    color:#00d4ff;
    padding-left:6px;
}

.footer hr{
    border:0;
    height:2px; /* Increase this value */
    background-color:rgba(251, 247, 247, 0.3);
    margin:40px 0 20px;
}

.footer-copyright{
    background-color:#041b3e;
    color:#fff;
    font-size:18px;
}

.footer .container{
    max-width:1400px;
    margin:0 auto;
}

.footer .col-lg-4:first-child{
    padding-left:0;
}

.footer-logo-link{
    display:inline-block;
    background:#fff;
    padding:0;
    border-radius:10px;
    line-height:0;
}

.footer-logo{
    display:block;
    margin:0;
    width:250px;
    height:auto;
}

/* SOCIAL ICONS */
.social-icons a{
    width:42px;
    height:42px;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    background:#ffffff15;
    color:#fff;
    margin-right:10px;
    transition:.4s;
}

.social-icons a:hover{
    background:#00d4ff;
    transform:translateY(-5px);
}
