<nav class="navbar navbar-expand-md navbar-light sticky-top">
    <div class="container-fluid px-4">

        <a class="navbar-brand" href="/index.html">
            <img src="/Assets/Images/Athineel Ozone Logo.jpg"
                 height="55"
                 alt="Athineel Ozone Logo">
        </a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#menu"
                aria-controls="menu"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menu">

            <ul class="navbar-nav ms-auto align-items-lg-center">

                <li class="nav-item">
                    <a class="nav-link" href="/index.html">Home</a>
                </li>

                <!-- OZONE GENERATORS -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#"
                       id="ozoneDropdown"
                       role="button"
                       data-bs-toggle="dropdown">
                        Ozone Generators
                    </a>

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/Ozone Generators/5gram-ozonator.html">5 Gram Ozonator</a></li>
                        <li><a class="dropdown-item" href="/Ozone Generators/10gram-ozonator.html">10 Gram Ozonator</a></li>
                        <li><a class="dropdown-item" href="/Ozone Generators/25gram-ozonator.html">25 Gram Ozonator</a></li>
                        <li><a class="dropdown-item" href="/Ozone Generators/50gram-ozonator.html">50 Gram Ozonator</a></li>
                        <li><a class="dropdown-item" href="/Ozone Generators/100gram-ozonator.html">100 Gram Ozonator</a></li>
                        <li><a class="dropdown-item" href="/Ozone Generators/200gram-ozonator.html">200 Gram Ozonator</a></li>
                        <li><a class="dropdown-item" href="/Ozone Generators/500gram-ozonator.html">500 Gram Ozonator</a></li>
                        <li><a class="dropdown-item" href="/Ozone Generators/1kg-ozonator.html">1 KG Ozonator</a></li>
                    </ul>
                </li>

                <!-- PARTS -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#"
                       id="partsDropdown"
                       role="button"
                       data-bs-toggle="dropdown">
                        Parts & Accessories
                    </a>

                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/Parts and Accessories/oxygen-concentrators.html ">Oxygen Concentrators</a></li>
                        <li><a class="dropdown-item" href="/Parts and Accessories/nano-bubble generator.html">Nano Bubble Generators</a></li>
                        <li><a class="dropdown-item" href="/Parts and Accessories/ozone-destruct-units.html">Ozone Destruct Units</a></li>
                        <li><a class="dropdown-item" href="/Parts and Accessories/venturi-injectors.html">Venturi Injectors</a></li>
                        <li><a class="dropdown-item" href="/Parts and Accessories/ozone-analyzer.html">Ozone Analyzer</a></li>
                        <li><a class="dropdown-item" href="/Parts and Accessories/ozone-test-kits.html">Ozone Test Kits</a></li>
                        <li><a class="dropdown-item" href="/Parts and Accessories/moleculer-service.html">Moleculer Service</a></li>
                        <li><a class="dropdown-item" href="/Parts and Accessories/static-mixer.html">Static Mixer</a></li>
                        <li><a class="dropdown-item" href="/Parts and Accessories/ozone-plates.html">Ozone Plates</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Our Customers</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/FAQ/faq.html">FAQ</a>
                </li>

                <!-- BLOG -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#"
                       id="blogDropdown"
                       role="button"
                       data-bs-toggle="dropdown">
                        Blog
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="/Blog/benefits-of-ozone.html">Benefits of Ozone</a></li>
                        <li><a class="dropdown-item" href="/Blog/water-treatment.html">Water Treatment Solutions</a></li>
                        <li><a class="dropdown-item" href="/Blog/air-purification.html">Air Purification</a></li>
                        <li><a class="dropdown-item" href="/Blog/industrial-ozone.html">Industrial Ozone Applications</a></li>
                        <li><a class="dropdown-item" href="/Blog/ozone-vs-chlorine.html">Ozone vs Chlorine</a></li>
                        <li><a class="dropdown-item" href="/Blog/ozonator-maintenance-tips.html">Ozonator Maintenance Tips</a></li>
                    </ul>
                </li>

                <li class="nav-item ms-lg-3">
                    <a href="#"
                       class="btn btn-primary quote-btn"
                       data-bs-toggle="modal"
                       data-bs-target="#quoteModal">
                        Get a Free Quote
                    </a>
                </li>

                <li class="nav-item ms-lg-2">
                    <a class="btn btn-success"
                       href="https://wa.me/919160011136"
                       target="_blank">
                        WhatsApp
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>