<!-- <nav class="navbar navbar-expand-md navbar-dark sticky-top">
    <div class="container-fluid px-4">
        <a class="navbar-brand" href="../index.html">
            <img src="../Assets/Images/Athineel Ozone Logo.jpg" height="55" alt="Athineel Ozone Logo">
        </a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#menu"
                aria-controls="menu"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav ms-auto align-items-lg-center">
                <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="ozoneDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Ozone Generators
                    </a>
                    
                    <ul class="dropdown-menu" aria-labelledby="ozoneDropdown">
                        <li><a class="dropdown-item" href="Ozone Generators/5gram-ozonator.html">5 Gram Ozonator</a></li>
                        <li><a class="dropdown-item" href="#">10 Gram Ozonator</a></li>
                        <li><a class="dropdown-item" href="#">25 Gram Ozonator</a></li>
                        <li><a class="dropdown-item" href="#">50 Gram Ozonator</a></li>
                        <li><a class="dropdown-item" href="#">100 Gram Ozonator</a></li>
                        <li><a class="dropdown-item" href="#">200 Gram Ozonator</a></li>
                        <li><a class="dropdown-item" href="#">500 Gram Ozonator</a></li>
                        <li><a class="dropdown-item" href="#">1 KG Ozonator</a></li>
                    </ul>
                </li>

                <li class="nav-item"><a class="nav-link" href="#">Parts & Accessories</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Our Customers</a></li>
                <li class="nav-item"><a class="nav-link" href="#">FAQ</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
                <li class="nav-item ms-lg-3"><a class="btn btn-primary quote-btn" href="#">Get Quote</a></li>
                <li class="nav-item ms-lg-2">
                    <a class="btn btn-sprimary quote-btn1"
                       href="https://wa.me/919160011136?text=Hello,%20I%20want%20to%20know%20about%20your%20UV%20Systems."
                       target="_blank">
                        WhatsApp
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->